*{
    margin: 0;
    padding: 0;
    background-color: #000 ;
}


.preloader{
    background:#000 url(../img/loadi.gif) no-repeat  ;
    background-size: 15%;
    height : 10vh;
    width: 50%;
    margin-left: 670px;
    margin-top: 32%;
    
    position:fixed;
    z-index:100;
    image-resolution: ;
}

.loade{
    background:url(../img/neon.gif) no-repeat center center;
    background-size: 15%;
    height : 100vh;
    width: 100%;
    position:absolute;
    
    z-index:100;
}

.mainWrapper {
	/*background:url(../img/cybersecurity.jpg) no-repeat;*/
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	/*min-height: 100vh;*/
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}

.header {
	--hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,55%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
	/*background-color: var(--bg);*/
	background: none;
	color: var(--fg);
	font: 1em/1.5 "DM Sans", sans-serif;
	/*height: 30vh;*/
	display: grid;
	place-items: center;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}

.welcomeText {
	color: white;
	position: absolute;
	text-align: center;
	top:35vh;
	right: 10vw;
	font-size: 3vw;
	background-color: blue;
}

.dept-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.dept-buttons a {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid #0f0;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color: #fff;
	-webkit-box-reflect: below 0px linear-gradient(transparent #0002);
	transition: 0.5s;
	transition-delay: 0s;
}

.dept-buttons a:hover {
	transition-delay: 0.4s;
	color: #000;
	box-shadow: 0 0 10px #0f0,
	0 0 20px #0f0,
	0 0 40px #0f0,
	0 0 80px #0f0,
	0 0 160px #0f0;
}

.dept-buttons a:nth-child(2) {
	filter: hue-rotate(80deg);
}

.dept-buttons a::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	box-shadow: 5px -8px 0 #0f0;
	            5px 8px 0 #0f0;
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	transition-delay: 0.3s,0.1s,0s,0s;
}

.dept-buttons a:hover::before {
	width: 60%;
	height: 100%;
	left: -2px;
	box-shadow: 5px 0 0 #0f0;
		    5px 0 0 #0f0;
	/*transition-delay: 0s,0s,0.5s,1s;*/
}

.dept-buttons a::after {
	content: '';
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	box-shadow: 5px -8px 0 #0f0;
	            5px 8px 0 #0f0;
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	transition-delay: 0.3s,0.1s,0s,0s;
}

.dept-buttons a:hover::after {
	width: 60%;
	height: 100%;
	right: -2px;
	box-shadow: 5px 0 0 #0f0;
		    5px 0 0 #0f0;
	/*transition-delay: 0s,0s,0.5s,1s;*/
}

.clock {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.clock__block {
	--hue: 223;
	background-color: hsl(var(--hue),10%,10%);
	border-radius: 0.5rem;
	box-shadow: 0 1rem 2rem hsla(var(--hue),90%,50%,0.3);
	font-size: 3em;
	line-height: 2;
	margin: 0.75rem;
	overflow: hidden;
	text-align: center;
	width: 6rem;
	height: 6rem;
	transition:
		background-color var(--trans-dur),
		box-shadow var(--trans-dur);
}
.clock__block--small {
	border-radius: 0.25rem;
	box-shadow: 0 0.5rem 2rem hsla(var(--hue),90%,50%,0.3);
	font-size: 1em;
	line-height: 3;
	width: 3rem;
	height: 3rem;
}
.clock__colon {
	display: none;
	font-size: 2em;
	opacity: 0.5;
	position: relative;
}
.clock__colon:before,
.clock__colon:after {
	background-color: currentColor;
	border-radius: 50%;
	content: "";
	display: block;
	position: absolute;
	top: -0.05em;
	left: -0.05em;
	width: 0.1em;
	height: 0.1em;
	transition: background-color var(--trans-dur);
}
.clock__colon:before {
	transform: translateY(-200%);
}
.clock__colon:after {
	transform: translateY(200%);	
}
.clock__digit-group {
	display: flex;
	flex-direction: column-reverse;
}
.clock__digits {
	width: 100%;
	height: 100%;
}
.clock__block--bounce {
	animation: bounce 0.75s; 
}
.clock__block--bounce .clock__digit-group {
	animation: roll 0.75s ease-in-out forwards; 
	transform: translateY(-50%);
}
.clock__block--delay1,
.clock__block--delay1 .clock__digit-group {
	animation-delay: 0.1s;
}
.clock__block--delay2,
.clock__block--delay2 .clock__digit-group {
	animation-delay: 0.2s;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

svg{
  width:100%;
  height:70vh;
  overflow:hidden;
  position:relative;
  top: 4vh;
  font-family: 'Roboto', sans-serif;
  font-size:19px;
  background: linear-gradient(165deg, black 30%, darkblue 200%);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
	.clock__block {
		background-color: hsl(var(--hue),90%,40%);
		box-shadow: 0 1rem 2rem hsla(var(--hue),90%,60%,0.4);
	}
	.clock__block--small {
		box-shadow: 0 0.5rem 2rem hsla(var(--hue),90%,60%,0.4);
	}
}

/* Beyond mobile */
@media (min-width: 768px) {
	.clock {
		flex-direction: row;
	}
	.clock__colon {
		display: inherit;
	}
}

/* Animations */
@keyframes bounce {
	from,
	to {
		animation-timing-function: ease-in;
		transform: translateY(0);
	}
	50% {
		animation-timing-function: ease-out;
		transform: translateY(15%);
	}
}
@keyframes roll {
	from {
		transform: translateY(-50%);
	}
	to {
		transform: translateY(0);
	}
}

